body, html {
    height: 100%;
    margin: 0;
  }
  
.bg {
    /* The image used */
    background-image: url("../img/logo_white.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.trader-button{
    margin-top: 500px;
    margin-left: 1000px;
    border-radius: 1px solid blue;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    color: azure;
    background-color: blue;
    
    }

.trader-button:hover {
    background-color: purple;
}

.nav-design {
  margin-right: 10px;
}

.link-design {
  margin: 0 15px;
  color: #2d2d2d !important;
}